.rst-content.rst-content .code-block-caption
{
    font-size: 0.85rem;
    text-align: left;
    font-style: italic;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #e1e4e5;
    border-bottom: none;
    background: #f8f8f8;
    margin: 0;
    padding: 10px 5px 0 20px;
    width: initial;
    display: inline-block;
}

.rst-content div[class^=highlight]
{
    margin-top: -5px;
}

.wy-side-nav-search.wy-side-nav-search img
{
    display: inline;
    margin: -5px 0 0 -5px;
    width: 32px;
    height: 32px;
    background-color: unset;
    border-radius: unset;
    padding: 0;
}